.pg-header{
    background: rgba(57,57,56,0.93);
}
.nav-img{
    height: auto;
    width: 24px;
    margin: 10%;
}
.forum-post{
    width: 50%;
    display: flex;
    border: 1px solid darkblue;
    border-radius: 0.6rem;
}
.post-header{
    flex: 1;
    margin: 1%;
}