.pg-header, .pg-footer{
    background: rgba(57,57,56,0.93);
}
.nav-img{
    height: auto;
    width: 24px;
    margin: 10%;
}
.forum-post{
    margin: 2%;
    width: 50%;
    display: flex;
    border: 2px solid darkblue;
    border-radius: 0.8rem;
}
.post-header{
    flex: 1;
    margin: 1%;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.login-container{
    padding: 1%;
    background: rgba(80,87,177,0.93);
    border-bottom: 1px solid black;
}
.login-container form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container input{
    padding: 3px;
    border-radius: 7px;
    margin: 0 0.6rem;
}
.error{
    border: black;
    border-radius: 7px;
    background: rgba(111,19,13,0.93);
    margin: 0 0.6rem;
    padding: 6px;
    font-weight: bolder;
}